html,body,#app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  overflow: hidden;
}

.com-page{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.com-container{
  width: 100%;
  height: 100%;
  overflow:hidden;
}
.com-chart{
  width: 100%;
  height: 100%;
  overflow: hidden;
}